<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Converter</title>
</head>
<body>
    <h1>Willkommen im mini Converter</h1>
Du kannst hier, KM, Meilen, Fahrenheit und Celsius umrechnen lassen.
<form method="post">
    <input name="x" type="number">Gib bitte einen Wert ein<br>
    In was möchtest du umrechnen?
    <select name="opt">
        <option value="km">Km</option>
        <option value="mei">Meilen</option>
        <option value="fahr">Fahrenheit</option>
        <option value="cel">Celsius</option>
    </select>
    <button type="submit">Berechnen</button>
</form>
</body>
</html>